@use '../abstracts' as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hide-mobile {
  @include screen(tablet, max) {
    display: none;
  }
}

.hide-min-tablet {
  @include screen(tablet) {
    display: none;
  }
}

.hide-min-desktop {
  @include screen(desktop) {
    display: none;
  }
}

.flex-center {
  display: flex;
  place-items: center;
}
