@use '../abstracts' as *;

.hero {
  height: calc(100vh - $header-s-height);
  position: relative;

  // If not to take full height
  // @include screen(tablet) {
  //   height: 1024px;
  // }

  @include screen(desktop) {
    height: 700px;
  }

  &__image {
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include screen(desktop) {
        height: 700px;
        object-position: top center;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__text {
    color: $white;
    padding: 15px;
    margin: auto 0;

    @include screen(tablet) {
      max-width: 600px;
    }
  }

  &__btn {
    margin-bottom: 2.5rem;

    @include screen(tablet) {
      margin-bottom: 9.5rem;
    }

    @include screen(desktop) {
      margin-bottom: 3.125rem;
    }
  }
}
