@use '../abstracts' as *;
@use 'sass:map';

body {
  @extend %body-base;

  color: $black;
}

h2 {
  @extend %heading-base;
  @extend %text-xl-extrabold;
}

h3 {
  @extend %heading-base;
  @extend %text-lg-semibold;
}

h4 {
  @extend %text-xs-semibold;

  @include screen(tablet) {
    font-size: map.get($font-sizes, 'sm');
  }
}

strong {
  font-weight: map.get($font-weights, 'semibold');
}
