<div class="benefits container">
  <div class="benefits__cards">
    <div class="benefit-card">
      <div class="benefit-card__content">
        <div class="benefit-card__image">
          <img src="assets/svg/moon.svg" alt="moon icon" />
        </div>
        <p class="benefit-card__text">Improves sleep</p>
      </div>
    </div>
    <div class="benefit-card">
      <div class="benefit-card__content">
        <div class="benefit-card__image">
          <img src="assets/svg/heart-shield.svg" alt="heart shield icon" />
        </div>
        <p class="benefit-card__text">Boosts immune system</p>
      </div>
    </div>
    <div class="benefit-card">
      <div class="benefit-card__content">
        <div class="benefit-card__image">
          <img src="assets/svg/hand.svg" alt="strong hand icon" />
        </div>
        <p class="benefit-card__text">Enhances strength</p>
      </div>
    </div>
    <div class="benefit-card">
      <div class="benefit-card__content">
        <div class="benefit-card__image">
          <img src="assets/svg/gut.svg" alt="gut icon" />
        </div>
        <p class="benefit-card__text">Improves digestion</p>
      </div>
    </div>
  </div>
</div>
