<div class="blend">
  <div class="blend__wrapper container">
    <h2 class="blend-heading blend-heading--red">
      [product name] <span class="blend-heading">blend</span>
    </h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="blend-content">
            <div class="blend-content__text-wrapper">
              <h3 class="blend-content__title">Metabolism Boosting</h3>
              <p class="blend-content__text">
                These powerful superfoods ignite your metabolism and reduce bloating. They improve
                digestion and deliver the energy you need to get things done.
              </p>
              <p class="blend-content__text">Main Organic Ingiridents:</p>
            </div>
            <div class="blend-content__figures-wrapper">
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acai-berry.webp"
                  alt="acai berry"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acai berry</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acacia-gum.webp"
                  alt="acacia gum"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acacia gum</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/cinnamon.webp"
                  alt="cinnamon"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic ceylon cinnamon bark</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/green-tea.webp"
                  alt="green-tea"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic green tea</figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blend-content">
            <div class="blend-content__text-wrapper">
              <h3 class="blend-content__title">Metabolism Boosting</h3>
              <p class="blend-content__text">
                These powerful superfoods ignite your metabolism and reduce bloating. They improve
                digestion and deliver the energy you need to get things done.
              </p>
              <p class="blend-content__text">Main Organic Ingiridents:</p>
            </div>
            <div class="blend-content__figures-wrapper">
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acai-berry.webp"
                  alt="acai berry"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acai berry</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acacia-gum.webp"
                  alt="acacia gum"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acacia gum</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/cinnamon.webp"
                  alt="cinnamon"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic ceylon cinnamon bark</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/green-tea.webp"
                  alt="green-tea"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic green tea</figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blend-content">
            <div class="blend-content__text-wrapper">
              <h3 class="blend-content__title">Metabolism Boosting</h3>
              <p class="blend-content__text">
                These powerful superfoods ignite your metabolism and reduce bloating. They improve
                digestion and deliver the energy you need to get things done.
              </p>
              <p class="blend-content__text">Main Organic Ingiridents:</p>
            </div>
            <div class="blend-content__figures-wrapper">
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acai-berry.webp"
                  alt="acai berry"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acai berry</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/acacia-gum.webp"
                  alt="acacia gum"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic acacia gum</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/cinnamon.webp"
                  alt="cinnamon"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic ceylon cinnamon bark</figcaption>
              </figure>
              <figure class="blend-figure">
                <img
                  class="blend-figure__img"
                  src="assets/images/blend/green-tea.webp"
                  alt="green-tea"
                  loading="lazy"
                />
                <figcaption class="blend-figure__caption">organic green tea</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper__nav">
        <button class="swiper__button swiper__button--prev">
          <img src="assets/svg/arrow-left.svg" alt="previous slide" />
        </button>
        <div class="swiper-pagination"></div>
        <button class="swiper__button swiper__button--next">
          <img src="assets/svg/arrow-right.svg" alt="next slide" />
        </button>
      </div>
    </div>
    <button class="btn blend-btn">add to cart</button>
  </div>
</div>
