<div class="blend">
  <div class="blend__wrapper container">
    <h2 class="blend-heading blend-heading--red">
      [product name] <span class="blend-heading">blend</span>
    </h2>
    <div class="blend-content">
      <div class="blend-content__text-wrapper">
        <h3 class="blend-content__title">Metabolism Boosting</h3>
        <p class="blend-content__text">
          These powerful superfoods ignite your metabolism and reduce bloating. They improve
          digestion and deliver the energy you need to get things done.
        </p>
        <p class="blend-content__text">Main Organic Ingiridents:</p>
      </div>
      <div class="blend-content__figures-wrapper">
        <figure class="blend-figure">
          <img
            class="blend-figure__img"
            src="assets/images/blend/acai-berry.webp"
            alt="acai berry"
          />
          <figcaption class="blend-figure__caption">organic acai berry</figcaption>
        </figure>
        <figure class="blend-figure">
          <img
            class="blend-figure__img"
            src="assets/images/blend/acacia-gum.webp"
            alt="acacia gum"
          />
          <figcaption class="blend-figure__caption">organic acacia gum</figcaption>
        </figure>
        <figure class="blend-figure">
          <img class="blend-figure__img" src="assets/images/blend/cinnamon.webp" alt="cinnamon" />
          <figcaption class="blend-figure__caption">organic ceylon cinnamon bark</figcaption>
        </figure>
        <figure class="blend-figure">
          <img class="blend-figure__img" src="assets/images/blend/green-tea.webp" alt="green-tea" />
          <figcaption class="blend-figure__caption">organic green tea</figcaption>
        </figure>
      </div>
    </div>
    <button class="btn blend-btn">add to cart</button>
  </div>
</div>
