<section class="faqs">
  <div class="container">
    <h3 class="faqs__title">FAQs</h3>
    <div class="faqs-question">
      <div class="faqs-question__wrapper">
        <h4 class="faqs-question__title">What are the Effective ingredients in [product name]?</h4>
        <span class="faqs-question__image"
          ><img src="assets/svg/arrow-down.svg" alt="expand"
        /></span>
      </div>
      <div class="faqs-question__text-wrapper">
        <p>Pellentesque vitae convallis quam, in ultricies leo:</p>
        <br />
        <p><b>Lorem ipsum dolor sit ame:</b></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida sollicitudin diam,
          vestibulum placerat nisl finibus ut. Duis ac pulvinar justo. Aliquam mi nisl, gravida eget
          suscipit non, sodales in tortor. Nam purus sem, blandit non justo ac, ornare tempor quam.
          Morbi pharetra vehicula ornare. Proin gravida turpis orci, sit amet sollicitudin mi rutrum
          nec.
        </p>
        <br />
        <p><b>Curabitur gravida ullamcorper dui: </b></p>
        <p>
          Pellentesque - tincidunt efficitur suscipit. Aliquam commodo id est eu cursus. Mauris ut
          elit quis nunc eleifend egestas in ac lorem. Pellentesque - vitae convallis quam, in
          ultricies leo. Curabitur gravida ullamcorper dui. Aliquam velit arcu, ultrices nec mauris
          a, vehicula fermentum nisi. Donec commodo - nisl at magna congue volutpat. Suspendisse sed
          nulla ultricies, elementum risus venenatis, eleifend sem. Vestibulum rutrum ut lectus id
          dignissim. Curabitur eros diam - bibendum in ipsum ut, posuere suscipit magna. Maecenas at
          congue purus, vel facilisis odio. Praesent scelerisque, ipsum vel ultricies congue, odio
          turpis pharetra tellus, ac auctor orci tortor volutpat lectus. Vestibulum tempor - ipsum
          et nibh mattis, sed volutpat dui bibendum.
        </p>
      </div>
    </div>
    <div class="faqs-question">
      <div class="faqs-question__wrapper">
        <h4 class="faqs-question__title">Other question?</h4>
        <span class="faqs-question__image"
          ><img src="assets/svg/arrow-down.svg" alt="expand"
        /></span>
      </div>
      <div class="faqs-question__text-wrapper">
        <p>Pellentesque vitae convallis quam, in ultricies leo:</p>
        <br />
        <p><b>Lorem ipsum dolor sit ame:</b></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida sollicitudin diam,
          vestibulum placerat nisl finibus ut. Duis ac pulvinar justo. Aliquam mi nisl, gravida eget
          suscipit non, sodales in tortor. Nam purus sem, blandit non justo ac, ornare tempor quam.
          Morbi pharetra vehicula ornare. Proin gravida turpis orci, sit amet sollicitudin mi rutrum
          nec.
        </p>
        <br />
        <p><b>Curabitur gravida ullamcorper dui: </b></p>
        <p>
          Pellentesque - tincidunt efficitur suscipit. Aliquam commodo id est eu cursus. Mauris ut
          elit quis nunc eleifend egestas in ac lorem. Pellentesque - vitae convallis quam, in
          ultricies leo. Curabitur gravida ullamcorper dui. Aliquam velit arcu, ultrices nec mauris
          a, vehicula fermentum nisi. Donec commodo - nisl at magna congue volutpat. Suspendisse sed
          nulla ultricies, elementum risus venenatis, eleifend sem. Vestibulum rutrum ut lectus id
          dignissim. Curabitur eros diam - bibendum in ipsum ut, posuere suscipit magna. Maecenas at
          congue purus, vel facilisis odio. Praesent scelerisque, ipsum vel ultricies congue, odio
          turpis pharetra tellus, ac auctor orci tortor volutpat lectus. Vestibulum tempor - ipsum
          et nibh mattis, sed volutpat dui bibendum.
        </p>
      </div>
    </div>
    <div class="faqs-question">
      <div class="faqs-question__wrapper">
        <h4 class="faqs-question__title">Other question?</h4>
        <span class="faqs-question__image"
          ><img src="assets/svg/arrow-down.svg" alt="expand"
        /></span>
      </div>
      <div class="faqs-question__text-wrapper">
        <p>Pellentesque vitae convallis quam, in ultricies leo:</p>
        <br />
        <p><b>Lorem ipsum dolor sit ame:</b></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida sollicitudin diam,
          vestibulum placerat nisl finibus ut. Duis ac pulvinar justo. Aliquam mi nisl, gravida eget
          suscipit non, sodales in tortor. Nam purus sem, blandit non justo ac, ornare tempor quam.
          Morbi pharetra vehicula ornare. Proin gravida turpis orci, sit amet sollicitudin mi rutrum
          nec.
        </p>
        <br />
        <p><b>Curabitur gravida ullamcorper dui: </b></p>
        <p>
          Pellentesque - tincidunt efficitur suscipit. Aliquam commodo id est eu cursus. Mauris ut
          elit quis nunc eleifend egestas in ac lorem. Pellentesque - vitae convallis quam, in
          ultricies leo. Curabitur gravida ullamcorper dui. Aliquam velit arcu, ultrices nec mauris
          a, vehicula fermentum nisi. Donec commodo - nisl at magna congue volutpat. Suspendisse sed
          nulla ultricies, elementum risus venenatis, eleifend sem. Vestibulum rutrum ut lectus id
          dignissim. Curabitur eros diam - bibendum in ipsum ut, posuere suscipit magna. Maecenas at
          congue purus, vel facilisis odio. Praesent scelerisque, ipsum vel ultricies congue, odio
          turpis pharetra tellus, ac auctor orci tortor volutpat lectus. Vestibulum tempor - ipsum
          et nibh mattis, sed volutpat dui bibendum.
        </p>
      </div>
    </div>
    <div class="faqs-question">
      <div class="faqs-question__wrapper">
        <h4 class="faqs-question__title">Other question?</h4>
        <span class="faqs-question__image"
          ><img src="assets/svg/arrow-down.svg" alt="expand"
        /></span>
      </div>
      <div class="faqs-question__text-wrapper">
        <p>Pellentesque vitae convallis quam, in ultricies leo:</p>
        <br />
        <p><b>Lorem ipsum dolor sit ame:</b></p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida sollicitudin diam,
          vestibulum placerat nisl finibus ut. Duis ac pulvinar justo. Aliquam mi nisl, gravida eget
          suscipit non, sodales in tortor. Nam purus sem, blandit non justo ac, ornare tempor quam.
          Morbi pharetra vehicula ornare. Proin gravida turpis orci, sit amet sollicitudin mi rutrum
          nec.
        </p>
        <br />
        <p><b>Curabitur gravida ullamcorper dui: </b></p>
        <p>
          Pellentesque - tincidunt efficitur suscipit. Aliquam commodo id est eu cursus. Mauris ut
          elit quis nunc eleifend egestas in ac lorem. Pellentesque - vitae convallis quam, in
          ultricies leo. Curabitur gravida ullamcorper dui. Aliquam velit arcu, ultrices nec mauris
          a, vehicula fermentum nisi. Donec commodo - nisl at magna congue volutpat. Suspendisse sed
          nulla ultricies, elementum risus venenatis, eleifend sem. Vestibulum rutrum ut lectus id
          dignissim. Curabitur eros diam - bibendum in ipsum ut, posuere suscipit magna. Maecenas at
          congue purus, vel facilisis odio. Praesent scelerisque, ipsum vel ultricies congue, odio
          turpis pharetra tellus, ac auctor orci tortor volutpat lectus. Vestibulum tempor - ipsum
          et nibh mattis, sed volutpat dui bibendum.
        </p>
      </div>
    </div>
  </div>
</section>
