<div class="features container">
  <h3 class="features__title">Performance nutrition and healthy transformation made simple:</h3>
  <div class="features-cards">
    <div class="feature-card feature-card__fire">
      <div class="feature-card__image">
        <img src="./assets/svg/fire.svg" alt="fire" />
      </div>
      <p class="feature-card__text">Recharged <strong>metabolism</strong> to stay in peak shape</p>
    </div>
    <div class="feature-card feature-card__bolt">
      <div class="feature-card__image">
        <img src="./assets/svg/bolt.svg" alt="bolt" />
      </div>
      <p class="feature-card__text">
        Enjoy jitter-free <strong>energy</strong> to tackle your busy schedule
      </p>
    </div>
    <div class="feature-card feature-card__running">
      <div class="feature-card__image">
        <img src="./assets/svg/person-running.svg" alt="person-running" />
      </div>
      <p class="feature-card__text">
        <strong>Enhance endurance</strong>, <strong>performance</strong>, and exercise
        <strong>recovery</strong>
      </p>
    </div>
    <div class="feature-card feature-card__virus">
      <div class="feature-card__image">
        <img src="./assets/svg/shield-virus.svg" alt="shield-virus" />
      </div>
      <p class="feature-card__text">
        Strengthen your <strong>immune health</strong> to stay on your game
      </p>
    </div>
    <div class="feature-card feature-card__check">
      <div class="feature-card__image">
        <img src="./assets/svg/check-double.svg" alt="check-double" />
      </div>
      <p class="feature-card__text">
        <strong>30 sec habit</strong>. Mixes in any beverage fast and easy
      </p>
    </div>
    <div class="feature-card feature-card__thumb">
      <div class="feature-card__image">
        <img src="./assets/svg/thumb-up.svg" alt="thumb-up" />
      </div>
      <p class="feature-card__text">
        <strong>Tastes amazing! </strong>No bitterness, gritty, or clumpy texture
      </p>
    </div>
  </div>
</div>
