<div class="features container">
  <div class="features__content">
    <h3 class="features-text">Performance nutrition and healthy transformation made simple:</h3>
    <div class="features-cards">
      <div class="feature-card fire">
        <div class="feature-card__image">
          <img src="assets/svg/fire.svg" alt="fire" />
        </div>
        <p class="feature-card__text">Recharged <b>metabolism</b> to stay in peak shape</p>
      </div>
      <div class="feature-card bolt">
        <div class="feature-card__image">
          <img src="assets/svg/bolt.svg" alt="bolt" />
        </div>
        <p class="feature-card__text">
          Enjoy jitter-free <b>energy</b> to tackle your busy schedule
        </p>
      </div>
      <div class="feature-card running">
        <div class="feature-card__image">
          <img src="assets/svg/person-running.svg" alt="person-running" />
        </div>
        <p class="feature-card__text">
          <b>Enhance endurance</b>, <b>performance</b>, and exercise <b>recovery</b>
        </p>
      </div>
      <div class="feature-card virus">
        <div class="feature-card__image">
          <img src="assets/svg/shield-virus.svg" alt="shield-virus" />
        </div>
        <p class="feature-card__text">Strengthen your <b>immune health</b> to stay on your game</p>
      </div>
      <div class="feature-card check">
        <div class="feature-card__image">
          <img src="assets/svg/check-double.svg" alt="check-double" />
        </div>
        <p class="feature-card__text"><b>30 sec habit</b>. Mixes in any beverage fast and easy</p>
      </div>
      <div class="feature-card thumb">
        <div class="feature-card__image">
          <img src="assets/svg/thumb-up.svg" alt="thumb-up" />
        </div>
        <p class="feature-card__text">
          <b>Tastes amazing! </b>No bitterness, gritty, or clumpy texture
        </p>
      </div>
    </div>
  </div>
</div>
