<div class="header">
  <div class="header__container container">
    <div class="header-menu hide-min-tablet">
      <span class="sr-only">Menu toggle</span>
      <div class="header-menu__bar"></div>
      <div class="header-menu__bar"></div>
      <div class="header-menu__bar"></div>
    </div>
    <nav class="header-nav hide-mobile">
      <ul class="header-nav__group">
        <li class="header-nav__item"><a href="/">shop</a></li>
        <li class="header-nav__item"><a href="/">mission</a></li>
      </ul>
    </nav>
    <h1 class="header-logo">
      <a href="/" aria-label="Logo">
        <img class="header-logo__img" src="assets/svg/logo.svg" alt="Logo" />
      </a>
    </h1>
  </div>
</div>
