<div class="hero">
  <picture class="hero__image">
    <source media="(min-width: 992px)" srcset="assets/images/hero/hero-l.webp" />
    <source media="(min-width: 768px)" srcset="assets/images/hero/hero-m.webp" />
    <img src="assets/images/hero/hero-s.webp" alt="Hero image" loading="eager" decoding="async" />
  </picture>
  <div class="hero__content">
    <h2 class="hero__text">new year, new “you” with [product name]</h2>
    <a class="hero__btn btn btn--secondary" href="/">try [product name]</a>
  </div>
</div>
