<div class="process">
  <div class="container">
    <h2 class="process__title">meticulous methodical process</h2>
    <div class="process__content">
      <div class="process-card process-card_running">
        <div class="process-card__image">
          <img src="assets/svg/hand.svg" alt="hand" />
        </div>
        <h4 class="process-card__title">Mission</h4>
        <p class="process-card__text">
          Our team of researchers are working around the clock to uncover the best performance and
          health-boosting superfoods on the planet. We do the homework so you don’t have to. Each
          superfood is supported by strong clinical studies.
        </p>
        <div class="process-card__arrow">
          <img src="assets/svg/arrow-bottom-right.svg" alt="arrow down" />
        </div>
      </div>
      <div class="process-card process-card_problem">
        <div class="process-card__image">
          <img src="assets/svg/error.svg" alt="error" />
        </div>
        <h4 class="process-card__title">The problem</h4>
        <p class="process-card__text">
          Our advisory panel reviews all of the scientific research in detail. Each ingredient must
          pass the rigorous approval process. Once approved, only then do our formulas move on to
          production.
        </p>
        <div class="process-card__arrow">
          <img src="assets/svg/arrow-bottom-right.svg" alt="arrow down" />
        </div>
      </div>
      <div class="process-card process-card_heart">
        <img class="process-card__image" src="assets/svg/heart.svg" alt="heart" />
        <h4 class="process-card__title">That isn’t therapeutic</h4>
        <p class="process-card__text">
          Production takes place in our GMP-compliant, state of the art manufacturing facility. Once
          again, only using 100% organic ingredients that have been verified by the USDA.
        </p>
        <div class="process-card__arrow">
          <img src="assets/svg/arrow-bottom-right.svg" alt="arrow down" />
        </div>
      </div>
      <div class="process-card process-card_result">
        <div class="process-card__image">
          <img src="assets/svg/person-running.svg" alt="person running" />
        </div>
        <h4 class="process-card__title">The result</h4>
        <p class="process-card__text">
          Getting our formulas into the hands of people who need it most and transforming lives for
          the better. We believe in improving humankind by improving human performance. And that
          starts with nourishing your body with the right fuel.
        </p>
      </div>
    </div>
  </div>
</div>
