<div class="process">
  <div class="container">
    <h2 class="process__title">meticulous methodical process</h2>
    <picture>
      <source media="(min-width: 992px)" srcset="assets/images/process/process-l.webp" />
      <source media="(min-width: 768px)" srcset="assets/images/process/process-m.webp" />
      <img
        class="process__image"
        src="assets/images/process/process-s.webp"
        alt="process steps"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</div>
