<div class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <p class="subscribe-text">subscribe &amp; save</p>
      <div class="subscribe-card">
        <div class="subscribe-card__image">
          <img src="assets/svg/cycle.svg" alt="cycle" />
        </div>
        <p class="subscribe-card__text">delivery every 30 days</p>
      </div>
      <div class="subscribe-card">
        <div class="subscribe-card__image">
          <img src="assets/svg/percentage.svg" alt="percentage" />
        </div>
        <p class="subscribe-card__text">best value per box</p>
      </div>
      <div class="subscribe-card">
        <div class="subscribe-card__image">
          <img src="assets/svg/x.svg" alt="x" />
        </div>
        <p class="subscribe-card__text">no commitment, cancel anytime</p>
      </div>
    </div>
  </div>
</div>
